<!DOCTYPE html>
<!-- saved from url=(0031) -->
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Papo do dia - de papo com a Neuly</title>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--[if !IE]><!--><div class="fit-vids-style" id="fit-vids-style" style="display: none;">­<style>.fluid-width-video-wrapper{width:100%;position:relative;padding:0;}.fluid-width-video-wrapper iframe,.fluid-width-video-wrapper object,.fluid-width-video-wrapper embed {position:absolute;top:0;left:0;width:100%;height:100%;}</style></div><script>if (/*@cc_on!@*/false) { document.documentElement.className+=' lt-ie10'; }</script><!--<![endif]--> 

    <link rel="stylesheet" id="framework-css" href="css/framework.css" type="text/css" media="all">
    <link rel="stylesheet" id="main-css" href="css/style.css" type="text/css" media="all">
    <link rel="stylesheet" id="mobile-css" href="css/mobile.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/tipTip.css">
    
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery-migrate.min.js"></script>



</head>

<body>
	
		
	<div id="theme-wrapper" >
		
			<header>						
				<div class="branding-wrap text-logo hide-for-small">				
					<ul id="filter" data-filter="isotope-item">
                        <li><a href="#" data-filter="isotope-item" class="tiptip " title="All"></a></li>
                        <li><a href="#" data-filter="artwork" class="tiptip c-red" title="Artwork"></a></li>
                        <li><a href="#" data-filter="drawing" class="tiptip c-blue" title="Drawing"></a></li>
                        <li><a href="#" data-filter="featured" class="tiptip c-azure" title="Featured"></a></li>
                        <li><a href="#" data-filter="photography" class="tiptip c-purple" title="Photography"></a></li>
                        <li><a href="#" data-filter="sketches" class="tiptip c-green" title="Sketches"></a></li>
                        <li><a href="#" data-filter="video" class="tiptip c-lime" title="Video"></a></li>
                    </ul>
				</div><!-- END .branding-wrap.hide-for-small -->
					
				<div id="header-container" class="hide-for-small" >
					<span class="menu-icon"></span>
				</div><!-- END #header-container.hide-for-small -->	
			</header>
				
	
		
<div id="primary-container" class="portfolio-template">

	<div id="isotope-container" class="animated BeanFadeIn isotope">
	
    <li class="portfolio type-portfolio artwork isotope-item">	
        <span class="overlay-meta-wrapper hover-on">
        <ul>
            <li class="animated BeanBounceIn"><a href="#" class="tweetlink">Twitter Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="facelink">Facebook Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="pinlink">Pinterest Share</a></li>
        </ul>
        </span><!-- END .overlay-meta-wrapper -->
        <a href="full_work.html" class="hover-on">
            <div class="hoverdiv-feat hide-for-small">
                <img src="images/works/1.jpg" alt="">		
            </div>
            
            <div class="overlay hover-on">
                <h4>Space Title <span>Artwork</span></h4>
            </div><!-- END .overlay -->
        </a>
    </li><!-- END .isotope-item -->
    <li class="portfolio type-portfolio video isotope-item">	
        <span class="overlay-meta-wrapper hover-on">
        <ul>
            <li class="animated BeanBounceIn"><a href="#" class="tweetlink">Twitter Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="facelink">Facebook Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="pinlink">Pinterest Share</a></li>
        </ul>
        </span><!-- END .overlay-meta-wrapper -->
        <a href="full_work.html" class="hover-on">
            <div class="hoverdiv-feat hide-for-small">
                <img src="images/works/2.jpg" alt="">		
            </div>
            
            <div class="overlay hover-on">
                <h4>Space Title <span>Video</span></h4>
            </div><!-- END .overlay -->
        </a>
    </li><!-- END .isotope-item -->
    <li class="portfolio type-portfolio artwork isotope-item">	
        <span class="overlay-meta-wrapper hover-on">
        <ul>
            <li class="animated BeanBounceIn"><a href="#" class="tweetlink">Twitter Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="facelink">Facebook Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="pinlink">Pinterest Share</a></li>
        </ul>
        </span><!-- END .overlay-meta-wrapper -->
        <a href="full_work.html" class="hover-on">
            <div class="hoverdiv-feat hide-for-small">
                <img src="images/works/3.jpg" alt="">		
            </div>
            
            <div class="overlay hover-on">
                <h4>Space Title <span>Artwork</span></h4>
            </div><!-- END .overlay -->
        </a>
    </li><!-- END .isotope-item -->
    <li class="portfolio type-portfolio featured video isotope-item">	
        <span class="overlay-meta-wrapper hover-on">
        <ul>
            <li class="animated BeanBounceIn"><a href="#" class="tweetlink">Twitter Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="facelink">Facebook Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="pinlink">Pinterest Share</a></li>
        </ul>
        </span><!-- END .overlay-meta-wrapper -->
        <a href="full_work.html" class="hover-on">
            <div class="hoverdiv-feat hide-for-small">
                <img src="images/works/4.jpg" alt="">		
            </div>
            
            <div class="overlay hover-on">
                <h4>Space Title <span>Featured</span></h4>
            </div><!-- END .overlay -->
        </a>
    </li><!-- END .isotope-item -->
    <li class="portfolio type-portfolio photography isotope-item">	
        <span class="overlay-meta-wrapper hover-on">
        <ul>
            <li class="animated BeanBounceIn"><a href="#" class="tweetlink">Twitter Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="facelink">Facebook Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="pinlink">Pinterest Share</a></li>
        </ul>
        </span><!-- END .overlay-meta-wrapper -->
        <a href="full_work.html" class="hover-on">
            <div class="hoverdiv-feat hide-for-small">
                <img src="images/works/6.jpg" alt="">		
            </div>
            
            <div class="overlay hover-on">
                <h4>Space Title <span>Photography</span></h4>
            </div><!-- END .overlay -->
        </a>
    </li><!-- END .isotope-item -->
    <li class="portfolio type-portfolio video photography isotope-item">	
        <span class="overlay-meta-wrapper hover-on">
        <ul>
            <li class="animated BeanBounceIn"><a href="#" class="tweetlink">Twitter Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="facelink">Facebook Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="pinlink">Pinterest Share</a></li>
        </ul>
        </span><!-- END .overlay-meta-wrapper -->
        <a href="full_work.html" class="hover-on">
            <div class="hoverdiv-feat hide-for-small">
                <img src="images/works/7.jpg" alt="">		
            </div>
            
            <div class="overlay hover-on">
                <h4>Space Title <span>Photography</span></h4>
            </div><!-- END .overlay -->
        </a>
    </li><!-- END .isotope-item -->
    <li class="portfolio type-portfolio photography isotope-item">	
        <span class="overlay-meta-wrapper hover-on">
        <ul>
            <li class="animated BeanBounceIn"><a href="#" class="tweetlink">Twitter Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="facelink">Facebook Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="pinlink">Pinterest Share</a></li>
        </ul>
        </span><!-- END .overlay-meta-wrapper -->
        <a href="full_work.html" class="hover-on">
            <div class="hoverdiv-feat hide-for-small">
                <img src="images/works/8.jpg" alt="">		
            </div>
            
            <div class="overlay hover-on">
                <h4>Space Title <span>Photography</span></h4>
            </div><!-- END .overlay -->
        </a>
    </li><!-- END .isotope-item -->
    <li class="portfolio type-portfolio video isotope-item">	
        <span class="overlay-meta-wrapper hover-on">
        <ul>
            <li class="animated BeanBounceIn"><a href="#" class="tweetlink">Twitter Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="facelink">Facebook Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="pinlink">Pinterest Share</a></li>
        </ul>
        </span><!-- END .overlay-meta-wrapper -->
        <a href="full_work.html" class="hover-on">
            <div class="hoverdiv-feat hide-for-small">
                <img src="images/works/9.jpg" alt="">		
            </div>
            
            <div class="overlay hover-on">
                <h4>Space Title <span>Video</span></h4>
            </div><!-- END .overlay -->
        </a>
    </li><!-- END .isotope-item -->
    <li class="portfolio type-portfolio drawing isotope-item">	
        <span class="overlay-meta-wrapper hover-on">
        <ul>
            <li class="animated BeanBounceIn"><a href="#" class="tweetlink">Twitter Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="facelink">Facebook Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="pinlink">Pinterest Share</a></li>
        </ul>
        </span><!-- END .overlay-meta-wrapper -->
        <a href="full_work.html" class="hover-on">
            <div class="hoverdiv-feat hide-for-small">
                <img src="images/works/10.jpg" alt="">		
            </div>
            
            <div class="overlay hover-on">
                <h4>Space Title <span>Drawing</span></h4>
            </div><!-- END .overlay -->
        </a>
    </li><!-- END .isotope-item -->
    <li class="portfolio type-portfolio sketches isotope-item">	
        <span class="overlay-meta-wrapper hover-on">
        <ul>
            <li class="animated BeanBounceIn"><a href="#" class="tweetlink">Twitter Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="facelink">Facebook Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="pinlink">Pinterest Share</a></li>
        </ul>
        </span><!-- END .overlay-meta-wrapper -->
        <a href="full_work.html" class="hover-on">
            <div class="hoverdiv-feat hide-for-small">
                <img src="images/works/11.jpg" alt="">		
            </div>
            
            <div class="overlay hover-on">
                <h4>Space Title <span>Sketches</span></h4>
            </div><!-- END .overlay -->
        </a>
    </li><!-- END .isotope-item -->
    <li class="portfolio type-portfolio sketches isotope-item">	
        <span class="overlay-meta-wrapper hover-on">
        <ul>
            <li class="animated BeanBounceIn"><a href="#" class="tweetlink">Twitter Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="facelink">Facebook Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="pinlink">Pinterest Share</a></li>
        </ul>
        </span><!-- END .overlay-meta-wrapper -->
        <a href="full_work.html" class="hover-on">
            <div class="hoverdiv-feat hide-for-small">
                <img src="images/works/12.jpg" alt="">		
            </div>
            
            <div class="overlay hover-on">
                <h4>Space Title <span>Sketches</span></h4>
            </div><!-- END .overlay -->
        </a>
    </li><!-- END .isotope-item -->
    <li class="portfolio type-portfolio drawing isotope-item">	
        <span class="overlay-meta-wrapper hover-on">
        <ul>
            <li class="animated BeanBounceIn"><a href="#" class="tweetlink">Twitter Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="facelink">Facebook Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="pinlink">Pinterest Share</a></li>
        </ul>
        </span><!-- END .overlay-meta-wrapper -->
        <a href="full_work.html" class="hover-on">
            <div class="hoverdiv-feat hide-for-small">
                <img src="images/works/13.jpg" alt="">		
            </div>
            
            <div class="overlay hover-on">
                <h4>Space Title <span>Drawing</span></h4>
            </div><!-- END .overlay -->
        </a>
    </li><!-- END .isotope-item -->
    <li class="portfolio type-portfolio featured sketches artwork isotope-item">	
        <span class="overlay-meta-wrapper hover-on">
        <ul>
            <li class="animated BeanBounceIn"><a href="#" class="tweetlink">Twitter Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="facelink">Facebook Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="pinlink">Pinterest Share</a></li>
        </ul>
        </span><!-- END .overlay-meta-wrapper -->
        <a href="full_work.html" class="hover-on">
            <div class="hoverdiv-feat hide-for-small">
                <img src="images/works/14.jpg" alt="">		
            </div>
            
            <div class="overlay hover-on">
                <h4>Space Title <span>Artwork</span></h4>
            </div><!-- END .overlay -->
        </a>
    </li><!-- END .isotope-item -->
    <li class="portfolio type-portfolio featured video isotope-item">	
        <span class="overlay-meta-wrapper hover-on">
        <ul>
            <li class="animated BeanBounceIn"><a href="#" class="tweetlink">Twitter Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="facelink">Facebook Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="pinlink">Pinterest Share</a></li>
        </ul>
        </span><!-- END .overlay-meta-wrapper -->
        <a href="full_work.html" class="hover-on">
            <div class="hoverdiv-feat hide-for-small">
                <img src="images/works/15.jpg" alt="">		
            </div>
            
            <div class="overlay hover-on">
                <h4>Space Title <span>Category</span></h4>
            </div><!-- END .overlay -->
        </a>
    </li><!-- END .isotope-item -->
    <li class="portfolio type-portfolio featured sketches video isotope-item">	
        <span class="overlay-meta-wrapper hover-on">
        <ul>
            <li class="animated BeanBounceIn"><a href="#" class="tweetlink">Twitter Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="facelink">Facebook Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="pinlink">Pinterest Share</a></li>
        </ul>
        </span><!-- END .overlay-meta-wrapper -->
        <a href="full_work.html" class="hover-on">
            <div class="hoverdiv-feat hide-for-small">
                <img src="images/works/16.jpg" alt="">		
            </div>
            
            <div class="overlay hover-on">
                <h4>Space Title <span>Category</span></h4>
            </div><!-- END .overlay -->
        </a>
    </li><!-- END .isotope-item -->
    <li class="portfolio type-portfolio sketches isotope-item">	
        <span class="overlay-meta-wrapper hover-on">
        <ul>
            <li class="animated BeanBounceIn"><a href="#" class="tweetlink">Twitter Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="facelink">Facebook Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="pinlink">Pinterest Share</a></li>
        </ul>
        </span><!-- END .overlay-meta-wrapper -->
        <a href="full_work.html" class="hover-on">
            <div class="hoverdiv-feat hide-for-small">
                <img src="images/works/17.jpg" alt="">		
            </div>
            
            <div class="overlay hover-on">
                <h4>Space Title <span>Category</span></h4>
            </div><!-- END .overlay -->
        </a>
    </li><!-- END .isotope-item -->
    <li class="portfolio type-portfolio featured video isotope-item">	
        <span class="overlay-meta-wrapper hover-on">
        <ul>
            <li class="animated BeanBounceIn"><a href="#" class="tweetlink">Twitter Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="facelink">Facebook Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="pinlink">Pinterest Share</a></li>
        </ul>
        </span><!-- END .overlay-meta-wrapper -->
        <a href="full_work.html" class="hover-on">
            <div class="hoverdiv-feat hide-for-small">
                <img src="images/works/18.jpg" alt="">		
            </div>
            
            <div class="overlay hover-on">
                <h4>Space Title <span>Category</span></h4>
            </div><!-- END .overlay -->
        </a>
    </li><!-- END .isotope-item -->
    <li class="portfolio type-portfolio featured video sketches isotope-item">	
        <span class="overlay-meta-wrapper hover-on">
        <ul>
            <li class="animated BeanBounceIn"><a href="#" class="tweetlink">Twitter Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="facelink">Facebook Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="pinlink">Pinterest Share</a></li>
        </ul>
        </span><!-- END .overlay-meta-wrapper -->
        <a href="full_work.html" class="hover-on">
            <div class="hoverdiv-feat hide-for-small">
                <img src="images/works/19.jpg" alt="">		
            </div>
            
            <div class="overlay hover-on">
                <h4>Space Title <span>Category</span></h4>
            </div><!-- END .overlay -->
        </a>
    </li><!-- END .isotope-item -->
    <li class="portfolio type-portfolio featured video isotope-item">	
        <span class="overlay-meta-wrapper hover-on">
        <ul>
            <li class="animated BeanBounceIn"><a href="#" class="tweetlink">Twitter Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="facelink">Facebook Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="pinlink">Pinterest Share</a></li>
        </ul>
        </span><!-- END .overlay-meta-wrapper -->
        <a href="full_work.html" class="hover-on">
            <div class="hoverdiv-feat hide-for-small">
                <img src="images/works/20.jpg" alt="">		
            </div>
            
            <div class="overlay hover-on">
                <h4>Space Title <span>Category</span></h4>
            </div><!-- END .overlay -->
        </a>
    </li><!-- END .isotope-item -->
    <li class="portfolio type-portfolio featured sketches video isotope-item">	
        <span class="overlay-meta-wrapper hover-on">
        <ul>
            <li class="animated BeanBounceIn"><a href="#" class="tweetlink">Twitter Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="facelink">Facebook Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="pinlink">Pinterest Share</a></li>
        </ul>
        </span><!-- END .overlay-meta-wrapper -->
        <a href="full_work.html" class="hover-on">
            <div class="hoverdiv-feat hide-for-small">
                <img src="images/works/21.jpg" alt="">		
            </div>
            
            <div class="overlay hover-on">
                <h4>Space Title <span>Category</span></h4>
            </div><!-- END .overlay -->
        </a>
    </li><!-- END .isotope-item -->
    <li class="portfolio type-portfolio featured video isotope-item">	
        <span class="overlay-meta-wrapper hover-on">
        <ul>
            <li class="animated BeanBounceIn"><a href="#" class="tweetlink">Twitter Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="facelink">Facebook Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="pinlink">Pinterest Share</a></li>
        </ul>
        </span><!-- END .overlay-meta-wrapper -->
        <a href="full_work.html" class="hover-on">
            <div class="hoverdiv-feat hide-for-small">
                <img src="images/works/22.jpg" alt="">		
            </div>
            
            <div class="overlay hover-on">
                <h4>Space Title <span>Category</span></h4>
            </div><!-- END .overlay -->
        </a>
    </li><!-- END .isotope-item -->
    <li class="portfolio type-portfolio drawing isotope-item">	
        <span class="overlay-meta-wrapper hover-on">
        <ul>
            <li class="animated BeanBounceIn"><a href="#" class="tweetlink">Twitter Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="facelink">Facebook Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="pinlink">Pinterest Share</a></li>
        </ul>
        </span><!-- END .overlay-meta-wrapper -->
        <a href="full_work.html" class="hover-on">
            <div class="hoverdiv-feat hide-for-small">
                <img src="images/works/23.jpg" alt="">		
            </div>
            
            <div class="overlay hover-on">
                <h4>Space Title <span>Category</span></h4>
            </div><!-- END .overlay -->
        </a>
    </li><!-- END .isotope-item -->
    <li class="portfolio type-portfolio drawing isotope-item">	
        <span class="overlay-meta-wrapper hover-on">
        <ul>
            <li class="animated BeanBounceIn"><a href="#" class="tweetlink">Twitter Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="facelink">Facebook Share</a></li>
            <li class="animated BeanBounceIn"><a href="#" class="pinlink">Pinterest Share</a></li>
        </ul>
        </span><!-- END .overlay-meta-wrapper -->
        <a href="full_work.html" class="hover-on">
            <div class="hoverdiv-feat hide-for-small">
                <img src="images/works/24.jpg" alt="">		
            </div>
            
            <div class="overlay hover-on">
                <h4>Space Title <span>Category</span></h4>
            </div><!-- END .overlay -->
        </a>
    </li><!-- END .isotope-item -->
    
    
    
        </div><!-- END #isotope-container -->
                
    </div><!-- END #primary-container --> 	
    </div><!-- END #theme-wrapper -->


<div class="hidden-sidebar">

	<div class="hidden-sidebar-inner">
		<!--logo-->
        	<a href="index-2.html" class="logo"><h1>Papo do Dia.</h1></a>
       		<div class="logo-desc">O seu blog de assuntos diversos.</div>
		<!--logo end-->
        
        <!--navigation-->
        <div class="widget">
            <div class="heading">Menu</div>
            <div class="textwidget">
            	<ul class="menu">
                    <li class="active"><a href="index-2.html">Work</a></li>
                    <li><a href="news.html">News</a></li>
                    <li><a href="shortcodes.html">Shortcodes</a></li>
                    <li><a href="typography.html">Typography</a></li>
                    <li><a href="archives.html">Archives</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="team.html">Team</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
                <div class="spacer-menu"></div>
                <ul class="menu">
                    <li><a href="comingsoon.html">Coming Soon</a></li>
                    <li><a href="404.html">404</a></li>
                    <li><a href="#">Purchase</a></li>
                </ul>
            </div>
        </div>
        <!--navigation end-->
        
        <!--search-->
        <div class="widget">
            <form method="get" id="searchform" action="#">
                    <input type="text" name="s" id="s" value="Search..." onfocus="if(this.value=='Search...')this.value='';" onblur="if(this.value=='')this.value='Search...';">
            </form>
        </div>
        <!--search end-->
        
        <!--flickr-->
        <div class="widget">
            <div class="heading">Flickr</div>
            <div class="textwidget">
            <div class="flickr_badge_wrapper clearfix">
            	<div class="flickr_badge_image"><a href="#"><img src="images/flickr/1.jpg" alt=""></a></div>
                <div class="flickr_badge_image"><a href="#"><img src="images/flickr/2.jpg" alt=""></a></div>
                <div class="flickr_badge_image"><a href="#"><img src="images/flickr/3.jpg" alt=""></a></div>
                <div class="flickr_badge_image"><a href="#"><img src="images/flickr/4.jpg" alt=""></a></div>
                <div class="flickr_badge_image"><a href="#"><img src="images/flickr/5.jpg" alt=""></a></div>
                <div class="flickr_badge_image"><a href="#"><img src="images/flickr/6.jpg" alt=""></a></div>
                <div class="clearfix"></div>
            </div>
            </div>
        </div>
        <!--flickr end-->
        
        <!--twitter-->
        <div class="widget">
            <div class="heading">Twitter</div>
            <div class="textwidget">	
            	<p>Easily insert shortcode pricing tables at one, two or three columns wide.</p>
                <a class="twitter_time" href="#">01 Feb 2014</a>
                
                <a href="#" class="follow-twitter-link">Follow</a>
            </div>
        </div>
        <!--twitter end-->
        
        <!--archives-->
        <div class="widget widget_archive">
            <div class="heading">Archive</div>
            <div class="textwidget">	
            	<ul>
                    <li><a href="#">April</a>&nbsp;126</li>
                    <li><a href="#">March</a>&nbsp;87</li>
                    <li><a href="#">February</a>&nbsp;23</li>
                    <li><a href="#">January</a>&nbsp;65</li>
                    <li><a href="#">2013</a>&nbsp;1350</li>
                </ul>
            </div>
        </div>
        <!--archives end-->
        
        <!--tags-->
        <div class="widget">
            <div class="heading">Tags</div>
            <div class="textwidget">	
            	<div class="tagcloud">
               	 <a href="#">Art</a>
                 <a href="#">WordPress</a>
                 <a href="#">Blog</a>
                 <a href="#">AirTheme</a>
                 <a href="#">Responsivet</a>
                 <a href="#">WP</a>
                 <a href="#">Portfolio</a>
                </div>
            </div>
        </div>
        <!--tags end-->
        
        <!--about-->
        <div class="widget">
            <div class="heading">About</div>
            <div class="textwidget">	
            	 A young team consisting of two talented people who love to experiment in the field of Category and web programming. They live web style.
            </div>
        </div>
        <!--about end-->
        
        <!--dribbble-->
        <div class="widget widget_bean_dribbble_widget">
            <div class="heading">Dribbble</div>
            <div class="textwidget">	
            	<a href="#" target="blank"><img src="images/dribbble.jpg" alt=""></a>
            </div>
        </div>
        <!--dribbble end-->
        
        <!--subscribe-->
        <div class="widget">
            <div class="heading">Subscribe</div>
            <div class="textwidget">	
            
            	<div class="bean-newsletter">
                    <p>Subscribe to our newsletter to receive news, updates, free stuff and new releases by email. We don't do spam.</p>
                    <form action="#" method="post"class="validate subscribe" target="_blank">
                        <input type="email" name="EMAIL" class="email-newsletter animatedbg" id="mce-EMAIL" placeholder="Enter your email address...">
                        <button class="button" type="submit">Subscribe</button>
                    </form>
                    <div class="clearfix"></div>
                </div>
                
            </div>
        </div>
        <!--subscribe end-->
        
        <!--recent post-->
        <div class="widget widget_recent_entries">
        	<div class="heading">Recent Post</div>
        	<ul>
				<li><a href="#">The weather is fair and flyable so buckle up - it's time for some air combat action!</a></li>
				<li><a href="#">The weather is fair and flyable so buckle up - it's time for some air combat action!</a></li>
                <li><a href="#">The weather is fair and flyable so buckle up - it's time for some air combat action!</a></li>
			</ul>
        </div>
        <!--recent post end-->
        
        <!--recent post-->
        <div class="widget widget_recent_entries">
        	<div class="heading">Video</div>
            <div class="textwidget">
                <img src="images/videowidget.jpg" alt="">
        	</div>
        </div>
        <!--recent post end-->
               
        <p class="copy">© 2014 Todos os direitos reservados. <a href="http://www.ifollowagencia.com.br">iFollow Agência Digital.</a></p>
		
               
               
		
		
	</div><!-- END .hidden-sidebar-inner -->	

</div><!-- END .hidden-sidebar -->	

    		
		    	<script type="text/javascript">
		    	
		    	jQuery(document).ready(function($) {
		    	
		    		//HOVERDIV ONLY NORMAL SCREENS
		    		(function($) {
		    		    var $window = $(window),
		    		        $html = $('body');
		    		    function resize() {
		    		        if ($window.width() > 768) {
		    		            return $html.addClass('hoverdiv-active');
		    		        }
		    		        $html.removeClass('hoverdiv-active');
		    		        $html.addClass('no-hoverdiv-active');
		    		    }
		    		    $window
		    		        .resize(resize)
		    		        .trigger('resize');
		    		})(jQuery);
		    		
		    		//HOVERDIV
		    		$(window).bind("load", function() {
		    		   $(' .hoverdiv-active #isotope-container > li ').each( function() { $(this).hoverdir(); } );
		    		});
		    	}); 
		    	</script>

<link rel="stylesheet" id="open-house-styles-css" href="css/open-house-style.css" type="text/css" media="all">

<script type="text/javascript" src="js/jquery.fitvids.js"></script>
<script type="text/javascript" src="js/modernizr.js"></script>
<script type="text/javascript" src="js/jquery.bxslider.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<script type="text/javascript" src="js/custom-libraries.js"></script>
<script type="text/javascript" src="js/isotope.js"></script>
<script type="text/javascript" src="js/jquery.tipTip.minified.js"></script>
<script type="text/javascript" src="js/hoverdir.js"></script>

	

</body></html>